<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <style media="screen">
            .vote-block{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Club Voting</h1>
            <hr>
        <form class="form" action="http://localhost:3000/vote" method="post" id="voteForm">
            <label for="code">Code</label>
            <input type="text" class="form-control number" name="code" min="6" max="6" value="" placeholder="28XXX">

            <fieldset id="group1" class="form-group col-md-12">
                <div class="row vote-block">
                    <div class="col-md-4">
                    <input type="radio" id="PIECES" value="PIECES" name="group1">
                    <label for="PIECES">PIECES</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" id="Unigay"value="Unigay" name="group1">
                    <label for="Unigay">Unigay</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" id="MUN" value="MUN" name="group1">
                    <label for="MUN">MUN</label>
                    </div>
                </div>
            </fieldset>

            <fieldset id="group2" class="form-group col-md-12">
                <div class="row vote-block">
                    <div class="col-md-4">
                    <input type="radio" id="Orchestra" value="Orchestra" name="group2">
                    <label for="Orchestra">Orchestra</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" id="Chess_Club"value="Chess_Club" name="group2">
                    <label for="Chess_Club">Chess Club</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" id="Student_Theater" value="Student_Theater" name="group2">
                    <label for="Student_Theater">Student Theater</label>
                    </div>
                </div>
            </fieldset>

            <fieldset id="group3" class="form-group col-md-12">
                <div class="row vote-block">
                    <div class="col-md-4">
                    <input type="radio" id="Student_Impact" value="Student_Impact" name="group3">
                    <label for="Student_Impact">Student Impact</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" id="IGNITE"value="IGNITE" name="group3">
                    <label for="IGNITE">IGNITE</label>
                    </div>
                    <div class="col-md-4">
                    <input type="radio" id="Oikos" value="Oikos" name="group3">
                    <label for="Oikos">Oikos</label>
                    </div>
                </div>
            </fieldset>
        <div class="row">
            <button type="submit" class="btn btn-primary col-lg-2">Submit</button>
            <button type="reset" class="btn btn-danger col-lg-2">Reset</button>
         </div>
        </form>
        <div class="row">
            <div id="flash" class="col-sm-12 col-md-6-offset-3">

            </div>
        </div>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function() {
                var form = $('#voteForm');
                var flash = $('#flash');

                $(form).submit(function(event){
                    event.preventDefault();
                    var formData = $(form).serialize();
                    $.ajax({
                        type:'POST',
                        url:$(form).attr('action'),
                        data:formData,
                        success: function(res){
                            if(res == "success"){
                                $("#flash").html("Your vote has been counted")
                                if($('#flash').hasClass('alert-danger')){
                                    $('#flash').removeClass('alert-danger')
                                }
                                $("#flash").addClass("alert alert-success")
                            } else if(res == "voted"){
                                $("#flash").html("You already voted :<")
                                if($('#flash').hasClass('alert-success')){
                                    $('#flash').removeClass('alert-success')
                                }
                                $("#flash").addClass("alert alert-danger")
                            } else {
                                $("#flash").html("Error, please try again")
                                if($('#flash').hasClass('alert-success')){
                                    $('#flash').removeClass('alert-success')
                                }
                                $("#flash").addClass("alert alert-danger")
                            }
                            $(form).trigger("reset");
                        }

                    }).done(function(response){
                        console.log(response)
                    })
                })
            })
        </script>
    </body>
</html>
